@font-face {
  font-family: moolbor;
  src: url("../fonts/moolbor.ttf"); }
@font-face {
  font-family: MontserratSB;
  src: url("../fonts/Montserrat-SemiBold.ttf"); }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: RobotoSlab;
  src: url("../fonts/RobotoSlab-Regular.ttf"); }
@font-face {
  font-family: RobotoSlabLight;
  src: url("../fonts/RobotoSlab-Light.ttf"); }
body {
  font-family: "moolbor", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 70px; }

.navbar-new {
  padding-bottom: 10px;
  padding-top: 10px;
  background: #fff; }

.logo img {
  width: 75%;
  margin: 0 auto;
  padding-left: 10px; }

.navbar-menu {
  padding-top: 5px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: normal; }
  .navbar-menu li a {
    color: #1455a5 !important; }

.navbar-collapse {
  border-color: transparent !important; }

.banner {
  background-image: url(../images/main-header-banner.jpg);
  background-attachment: fixed;
  height: 500px;
  background-size: cover; }
  .banner .heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10% 0; }
    .banner .heading h1 {
      font-size: 70px;
      color: white;
      line-height: 50px;
      margin-top: 50px; }
    .banner .heading .banner-btn {
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 0px;
      padding-top: 13px;
      background-color: transparent;
      border: 1px solid white; }
      .banner .heading .banner-btn:hover {
        background-color: #78d8a7;
        border: 1px solid #78d8a7;
        transition-duration: 0.5s; }
      .banner .heading .banner-btn a {
        text-decoration: none;
        color: white; }

.travelind h1 {
  font-size: 60px;
  color: #1455a5;
  margin-top: 30px; }
.travelind p {
  font-family: "RobotoSlabLight";
  font-size: 16px;
  position: relative;
  top: -15px;
  width: 80%; }

.explore {
  background-image: url("../images/Destination-Background-Images.jpg");
  background-attachment: fixed; }
  .explore h1 {
    font-size: 60px;
    color: #1455a5;
    padding-top: 50px;
    line-height: 40px; }
  .explore .container {
    padding-bottom: 50px; }
    .explore .container .col-md-4 img {
      margin: 0 auto;
      margin-top: 40px; }
    .explore .container .col-md-4 h3 {
      line-height: 20px;
      background-color: #eee;
      padding-top: 10px;
      width: 60%;
      margin: 0 auto;
      border-radius: 50px;
      margin-top: 10px;
      color: #333; }

.contact {
  background-color: #78d8a7; }
  .contact .col-md-6 h1 {
    font-size: 60px;
    padding-top: 15px;
    margin-bottom: 0; }

form {
  position: relative;
  top: -10px; }

.formtext {
  font-family: "RobotoSlabLight";
  margin-top: 15px; }

.submit-btn {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 0px;
  padding-top: 13px;
  background-color: #1455a5;
  border: 1px solid white;
  margin-top: 15px;
  color: white; }
  .submit-btn:hover {
    background-color: rgba(20, 85, 165, 0.5);
    border: 1px solid white;
    color: white;
    transition-duration: 0.5s; }

p.contact {
  font-family: "RobotoSlabLight";
  font-size: 24px; }

.social-media img {
  width: 70px;
  margin-bottom: 10px; }

.copyright {
  background: #1455a5; }
  .copyright h3 {
    color: white;
    margin: 0px;
    padding-top: 15px;
    font-size: 26px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .heading {
    padding: 30% 0; }
    .heading h1 {
      margin-top: 100px !important; } }
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .logo img {
    width: 50%; } }
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .logo img {
    width: 50%; } }

/*# sourceMappingURL=site.css.map */
